@media (min-width: 992px) {
  .dropdownContainer {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: start;
    overflow: scroll;
    overflow-x: hidden;
    border-radius: 2%;
    min-height: 6em;
    width: 23vw;
    background: rgb(211, 209, 209);
    z-index: 7;

    &::-webkit-scrollbar {
      width: 0;
    }
    
    .dropdownItem {
      padding-left: 2%;
      margin-top: 2%;
      cursor: pointer;
      &.activeItem {
        background-color: #f5f5f5;
        span {
          border-bottom: 2px solid black;
        }
      }
    }
  }
}
