@media (min-width: 375px) {
  .serchForm {
    border-bottom: 2px solid white;
    width: 100%;
    input {
      background: none;
      width: 80%;
      color: rgba(255, 255, 255, 70%);
      font-size: 5vw;
      border: none;
      &:focus {
        outline: none;
      }
      &::placeholder {
        font-size: 3.5vw;
        color: rgba(255, 255, 255, 70%);
      }
    }
    button {
      width: 18%;
      background: none;
      border: none;
      img {
        width: 100%;
      }
    }
  }
}
