.mainWrap {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  .mainContainer {
    width: 100%;
    height: 100%;
    background: gray;
    
    &.clear {
      background: url("../../../public/clear-weather.png") no-repeat;
      background-size: cover;
    }
    &.cloudy {
      background: url("../../../public/cloudy-weather.png") no-repeat;
      background-size: cover;
    }
    &.rain {
      background: url("../../../public/rain-weather.png") no-repeat;
      background-size: cover;
    }
    &.mist {
      background: url("../../../public/mist-weather.png") no-repeat;
      background-size: cover;
    }
    &.snow {
      background: url("../../../public/snow-weather.png") no-repeat;
      background-size: cover;
    }
    &.thunderstorm {
      background: url("../../../public/thunderstorm-weather.png") no-repeat;
      background-size: cover;
    }
  }
}
.error {
  width: 100%;
}
